
# Local R check directories and temporary package checks
*.bak
docs/
coverage/
.DS_Store
inst/doc/
/Meta/
__pycache__/
..Rcheck
..Rcheck/
.Rcheck
.Rcheck/
*.Rhistory
.TSENAT.Bioccheck
.TSENAT.Bioccheck/
.Rhistory
.Rproj.user
*.Ruserdata
.Ruserdata
*.tar.gz
tmp/
TSENAT.Rcheck
TSENAT.Rcheck/
vignette/*html
vignette/*pdf
vignettes/ts_debug.R
.vscode/
.tools
.tools/
