docs/
*.Rhistory
*.Ruserdata
.Rhistory
.Ruserdata
.DS_Store
.Rcheck/
.Rcheck
..Rcheck/
..Rcheck
.vscode/
__pycache__/
*.tar.gz
.Rproj.user
.Rhistory
.Ruserdata
/Meta/

# Local R check directories and temporary package checks
TSENAT.Rcheck/
TSENAT.Rcheck
