/* Minimal elegant overrides: refined typography and subtle navbar */
body {
    font-family: "Merriweather", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}
.navbar, .navbar-default {
    background-color: #36454f; /* dark slate */
}
.navbar .navbar-nav > li > a {
    color: #f6f6f6;
}
.navbar .navbar-nav > li > a:hover {
    color: #e6e6e6;
}
/* Slightly muted primary link color */
a, .pkgdown-nav a {
    color: #0b5b6b;
}
a:hover {
    color: #083743;
}
